@font-face {
  font-family: 'RecklessNeue';
  src: url('../../../assets/fonts/RecklessCollectionVF-TRIAL.woff2') format('woff2');
  font-weight: 100 900;  /* variable weight range */
  font-style: normal;
  font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


.temp-back{
    background: linear-gradient(243.81deg, #25354F 0.9%, #1B2033 100%);
    height: 100vh;
}

.appbar{
    background: linear-gradient(270deg, #3B557F 0%, #34456B 100%);
    position:fixed;
    display: flex;
    /* color: white !important; */
}



.text-appbar{
    /* color: #FFFFFF!important; */
    color: white !important;
    font-family: 'RecklessNeue';
}


.dropdown-text{
    font-family: 'RecklessNeue' !important;
}