@font-face {
  font-family: 'RecklessNeue';
  src: url('../../../assets/fonts/RecklessCollectionVF-TRIAL.woff2') format('woff2');
  font-weight: 100 900;  /* variable weight range */
  font-style: normal;
  font-display: swap;
}


.admin-booking-body{
    background: linear-gradient(243.81deg, #25354F 0.9%, #1B2033 100%);
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    padding:70px;
}


.admin-booking-title{
    color: white !important;
    font-family: 'RecklessNeue' !important;
    font-size: 2rem;
    text-align: center !important;
    margin-top: 1rem;
    
}

.admin-booking-title-div{
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 4rem;
}


.request-div-admin{
    
    width: 100%;
    height: auto;
    background: #36476f;
    font-family: 'RecklessNeue' !important;
}


.admin-booking-request-title{
    color:#ff7b00;
    font-size: 1.3rem;
    padding-top: 5px;
    text-align: center;
}

.admin-booking-request-desc-div{
    display:flex ;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: 'RecklessNeue' !important;
    text-align: center;
    font-size: 1rem;
    color: white;
}


.btn-admin-booking-request-accept{
    background: #28B006 !important;
    border-radius: 1rem !important;
    font-family:'Times New Roman', Times, serif !important;
    color: white !important;
    font-size: large;
    margin-bottom: 1rem !important;
    width: 50%;
}

.btn-admin-booking-request-reject{
    background: #D72828 !important;
    border-radius: 1rem !important;
    font-family:'Times New Roman', Times, serif !important;
    color: white !important;
    font-size: large;
    margin-bottom: 1rem !important;
    width: 50%;
}

.btn-admin-booking-request-accept *,
.btn-admin-booking-request-reject * {
  font-family: 'Times New Roman', Times, serif !important;
}



@media only screen and (max-width: 390px) {
    .admin-booking-title{
        font-size: 1.5rem;
    }
    .admin-booking-request-desc-div{
        font-size: 0.8rem;
    }
  }


/* Force override of all MUI button text, regardless of theme */
.MuiButton-root.btn-admin-booking-request-accept,
.MuiButton-root.btn-admin-booking-request-reject,
.MuiButton-root.btn-admin-booking-request-accept * ,
.MuiButton-root.btn-admin-booking-request-reject * {
  font-family: "Times New Roman", Times, serif !important;
  font-style: normal !important;
  font-weight: normal !important;
}
