@font-face {
  font-family: 'RecklessNeue';
  src: url('../../../assets/fonts/RecklessCollectionVF-TRIAL.woff2') format('woff2');
  font-weight: 100 900;  /* variable weight range */
  font-style: normal;
  font-display: swap;
}
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


.admin-department-body{
    background: linear-gradient(243.81deg, #25354F 0.9%, #1B2033 100%);
    height: 100vh;
    box-sizing: border-box;
    overflow: auto;
    padding:70px;
}


.admin-department-title{
    color: white !important;
    font-family: 'RecklessNeue' !important;
    font-size: 2rem;
    text-align: center !important;
    margin-top: 1rem;
    
}

.admin-department-title-div{
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 2rem;
}


.btn-admin-department{
    background: #D76A28 !important;
    border-radius: 1rem !important;
    font-family:'Inter' !important;
    /* width: 80%; */
    color: white !important;
    font-size: large;
    margin-bottom: 1rem !important;
    margin-top: 1.7rem !important;
    justify-content: center;
    /* margin-left: 1rem !important; */
    /* margin-right: 1rem !important; */
}

.admin-department-card{
    background: #334266 !important;
    border-radius: 1rem !important;
    box-shadow: 0px 0px 34px rgba(0, 0, 0, 0.25) !important;
}


.admin-department-text{
    font-family:'Times New Roman', Times, serif !important;
    color: white;
}




@media only screen and (max-width: 390px) {
    .admin-department-title{
        font-size: 1.5rem;
    }
  }


  @media only screen and (max-width: 200px) {
    .admin-department-title{
        font-size: 1rem;
    }
  }